/* body color #f5f0ea */
/* font-family: 'Cabin', sans-serif; */
/* font-family: 'Source Sans Pro', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Source+Sans+Pro:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;

}
:root{
    --main-color: #fe5b3d;
    --second-color:#ffac38;
    --text-color:#444;
    --gradient:linear-gradient(
        #fe5b3d,#ffac38;

    )

}
/*Custom scroll Bar*/
html::webkit-scrollbar {
    width:0.5rem;
    
}



html{
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffffff;
}
button{
    color: rgb(0, 0, 0);
    background-color: brown;
    border: none;
    padding: 1.3rem 3rem;
    border-radius: 2rem;
    font-family: 'Cabin', sans-serif;
    margin-top: 1.5rem ;
    cursor: pointer;
    font-size: 1rem;
}
button:hover{
    background-color: rgb(255, 255, 255);
    color: brown;
    transition: 0.3s;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
section{
    width: 80%;
   
    margin: auto;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    max-height: 10vh;
    min-height: 10vh;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    width: 115.3rem;
    margin-left: -11.4rem;
    
    margin-top: -1px;
}
.header-nav a:hover
header{
    position: fixed;
    width: 100%;
}
#logo{
    flex: 1;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
    font-size: 2rem;
    color: rgb(11, 11, 11);
}
.header-nav ul{
    flex: 0.5;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 50;
}
.header-nav ul li{
    list-style: none;
    position: sticky;
    top: 0;
}
.header-nav ul li a{
    font-weight: bold;
    color: rgb(210, 42, 45);}
    
    
#home-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    
}
.home-nav{
    display: flex;
    justify-content: space-between;
height: 90vh;
    align-items: center;
}
.home-left{
    width: 50%;
}
.home-left h2{
    color: rgb(8, 7, 7);
    letter-spacing: 2px;
}
.home-left h3{
    color: rgb(24, 19, 19);
    letter-spacing: 2px;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
    margin-top: 2rem ;
}

.home-left p{
    color: rgb(30, 21, 21);
    letter-spacing: 2px;
    margin-top: 2rem ;
    font-size: 1.5rem;
    font-weight: bold;
}

.home-left button{
    color: white;
    background-color: brown;
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    font-family: 'Cabin', sans-serif;
    margin-top: 2rem ;
    cursor: pointer;
    font-size: 1rem;
}
.home-left button:hover{
    background-color: rgb(16, 16, 16);
    color: brown;
    transition: 0.3s;
}
.container{
    display: flex;
}
.container {
  position: relative;
  width: 30rem;
  margin-left: -3rem;
  margin-right: 5rem;
}
.container img{
    margin-left: -4rem;
    width: 30rem;
    margin-top: 14rem;
}

.image {
  display: block;
  width: 40rem;
  margin-top: 4rem;
  margin-left: 2rem;
  height: auto;
}
.overlay{
    display: flex;
}
.overlay {
  position: absolute;
  margin-top: 4rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: -1rem;
  height: 25rem;
  width: 26rem;
  opacity: 0;
  transition: .5s ease;
  background-color: #3b6988;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.textt h2{
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #ffffff;

    font-family: mv boli;

}
.textt p{
    width: 16rem;
}
.container{
    display: flex;
}
.de_k img{
    margin-left: 7rem;
    width: 14rem;
    margin-bottom: 7rem;
    margin-top: -40rem;
}

.overlayy {
    position: absolute;
    margin-top: 30rem;
   margin-bottom: 4.2rem;
    margin-left: 20rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: -1rem;
    height: 25rem;
    width: 26rem;
    opacity: 0;
    transition: .5s ease;
    background-color: #cfc22e;
  }
  .de_k:hover .overlayy {
    opacity: 1;
  }
  
  .de_k{
    position: relative;
   margin-left: 20rem;
   margin-top: 3rem;

  }
  
  .textt{
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .de_kk img{
    margin-top: 7rem;
    margin-left: 38rem;
  }
  .BB_K{
    position: relative;
   
  }
  /*ji*/
  .cwontainer {
    position: relative;
    width: 30rem;
    margin-left: -3rem;
    margin-right: 5rem;
  }
  .cwontainer img{
      margin-left: 53rem;
      width: 13rem;
      margin-bottom: 8rem;
      margin-top: -22rem;
  }
  
  .image {
    display: block;
    width: 40rem;
    margin-top: 4rem;
    margin-left: 2rem;
    height: auto;
  }
  .owverlay{
      display: flex;
  }
  .owverlay {
    position: absolute;
    margin-top: 4rem;
   
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10rem;
    margin-bottom: 5.3rem;
    margin-left: 45rem;
    height: 25rem;
    width: 26rem;
    opacity: 0;
    transition: .5s ease;
    background-color: #c7650f;
  }
  
  .cwontainer:hover .owverlay {
    opacity: 1;
  }
  
  .twext {
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .twext h2{
    font-family: mv boli;
    margin-top: -5rem;
    color: rgb(255, 255, 255);
  }
  /*kh*/
  .cwontainerr {
    position: relative;
    width: 30rem;
    margin-left: -3rem;
    margin-right: 5rem;
  }
  .cwontainerr img{
      margin-left: 76rem;
      width: 18rem;
      margin-bottom: 13rem;
      margin-top: -24rem;
  }
  
  .image {
    display: block;
    width: 40rem;
    margin-top: 4rem;
    margin-left: 2rem;
    height: auto;
  }
  .owverlayy{
      display: flex;
  }
  .owverlayy {
    position: absolute;
    margin-top: -80rem;
    margin-bottom: 50rem;
    margin-left: -25rem;
   
    bottom: 7.6rem;
    left: -5rem;
    right: 0;
    margin-top: 10rem;
    margin-bottom: 5.3rem;
    margin-left: 77rem;
    height: 25rem;
    width: 26rem;
    opacity: 0;
    transition: .5s ease;
    background-color: #ad1c99;
  }
  
  .cwontainerr:hover .owverlayy {
    opacity: 1;
  }
  
  .twextt {
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .twextt h2{
    font-family: mv boli;
    margin-top: -5rem;
    color: rgb(255, 255, 255);
    width: 30rem;
    font-size: 2rem;
  }
  .twextt p{
    width: 20rem;
    margin-left: 5rem;
    margin-top: 1.4rem;
  }
  

  .Login_O h1{
    margin-left: 20rem;
   margin-top: -12rem;
   margin-bottom: -7rem;
    
    color: brown;
    font-size: 3rem;
  }
  .Nama_K h1{
    margin-left: 30rem;
    margin-top: 15rem;
    
    margin-bottom: -4rem;
    color: #d42929;
  }
  .Nama_Kkk h1{
    margin-left: 13rem;
  }
  /*k*/
  .KHH_P img{
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 30rem; /* Set a small width */
    margin-left: 60rem;
    margin-top: -40rem;
    margin-bottom: 5rem;
  }
  /* Add a hover effect (blue shadow) */
  .KHH_P img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 8, 255, 0.5);
}
.foood_I h1{
  margin-top: 3rem;
  font-family: mv boli;
  margin-left: -1rem;

}.foood_I h2{
  width: 30rem;
align-items: center;
text-align: justify;
color: #000000;

margin-left: -1rem;
}
.foood_I h2:hover{
  color: #0bc574;}
  .a{
    text-decoration: none;
  }
  .href_O ul{
    display: grid;
    margin-left: 78rem;
    margin-top: -11rem;
  }
  .href_O li{
    margin-left: 6rem;
    margin-top: 1rem;
  
    text-decoration: none;
  color: #f1f1f1;
    font-size: 2rem;
  }
  .href_O li a:hover{
    color: #ffffff;
    background-color: #d8ea15;
   
  }
  a{
    text-decoration: none;}
    .KBGH_k h2{
      margin-left: 40rem;
       margin-top: -8rem;
    
    }
    .KBGH_k h2:hover{
      color: #ffffff;
      
    
    }
    .KBGH_k h2{
      margin-left: 40rem;
       margin-top: -8rem;
    
    }
    .KBGH_k h2:hover{
      color: #ffffff;
      
    
    }
    .Photo h1{
      margin-left: 57rem;
      margin-top: -6rem;
      font-family: mv boli;

    }
    .icon_P{
      display: flex;
  }
  .icon_P h1{
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      font-size: 15px;
      border-radius: 4px;
      background: var(--bg-grey);
      color: var(--primary-color);
      margin-left: 28rem;
      margin-top: -7.4rem;
    
  }
  .icon_P h1:hover{
      transition: 0.5s;
      background-color: #cd22a8;
      
      color: #38cdff;
    }
    .Icon_U p{
      margin-left: 33rem;
      margin-top: 5rem;
      font-size: 1.5rem;
      border-radius: 4px;
        background: var(--bg-grey);
        color: var(--primary-color);
        width: 36px;
        height: 36px;
        
      
    }
    .Icon_U p:hover{
      background-color: #f82222;
      color: #444;
      transition: 0.5s;
      margin-left: -2rem;
    }
    .LKH{
      width: 36px;
      
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-size: 15px;
        border-radius: 4px;
        background: var(--bg-grey);
        color: var(--primary-color);
        margin-left: 35rem;
        margin-top: -4.4rem;
       
    }
    .LKH:hover{
      background-color: #ffac38;
      color: #f1f1f1;}
      .FOod_ter img{
          width: 10rem;
          height: 5rem;
          margin-left: 60rem;
          margin-top: -8rem;
        }
        .FOod_terr img{
          width: 10rem;
          height: 5rem;
          margin-left: 45rem;
          margin-top: -15rem;
          margin-bottom: 1.2rem;
          color: var(--primary-color);
         background: var(--bg-grey);
        }
        .FOod_terr:hover{
          color: #000000;
         
          margin-top: -3rem;
        
        }
        .FOod_terrr img{
          width: 10rem;
          height: 5rem;
          margin-left: 60rem;
          margin-top: -33rem;
          margin-bottom: 9rem;
        }
        .Ic{
          margin-left: 33rem;
          font-family: mv boli;
          color: #f1f1f1;
        }
        .LV p{
          margin-left: 50rem;
          margin-top: -20rem;
          font-size: 1.2rem;
        
        }
        .sss_l h1{
          background-color: #444;
          margin-top: -17rem;
          width: 125rem;
          
          margin-left: -21rem;
          height: 20rem;
        
        
        }